*{
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    min-height: 100vh;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
    padding: 0;
    font-family: Itim, sans-serif;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}

/* Logo, login, get started */
nav{
    background-color: white;
    box-sizing: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 60px;
}
nav a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #7e7e7e;
}
nav .navbar li:nth-child(2){
    margin-right: auto !important;
}
.navbar{
    padding: 0px 20px;
}
.sidebar{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar li, .sidebar a{
    width: 100%;
}
a{
    text-decoration: none;
    font-weight: lighter;
    color: white;
    align-content: center;
    transition: all 0.3s linear;
}
.nav-signup{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 45px;
    text-align: center;
    background-color: rgb(94, 152, 254);
    color: white !important;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}
.nav-signup a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
}
.nav-signup a:hover{
    background-color: rgb(72, 120, 203);
    border-radius: 10px;
    color: white;
}
.logo{
    font-size: 24px;
}


/* Image */
.image-container{
    background-image: url('images/students-studying.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
.image-container h2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    text-align: center;
    text-emphasis: bolder(20px);
}

/* Welcome to bigbrains */
.featuresIntro-container{
    display: flex;
    padding: 1rem 0.7rem;
}
.featuresIntro-container h3{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: lighter;
    text-align: left;
}

/* feature and buttons */
.feature-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2px 1px;
    margin-bottom: 4rem;
}
.feature-column{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex: 33%;
    justify-content: space-evenly;
}
.feature-column div{
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    border: none;
    border-radius: 30px;
    box-shadow: 30px 30px 10px rgba(39, 39, 39, 0.2);
}
.feature-column div:hover{
    transform: scale(1.05);
}
.feature-column img{
    width: 100%;
    height: auto;
}
.feature-column h3{
    font-size: 32px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    padding: 30px 10px;
}
.feature-column p{
    font-size: 22px;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    border-radius: 30px;
}
.feature-column button{
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: white;
    border: none;
    border-radius: 10px;
}
.feature-column button:hover{
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: white;
    border: none;
    border-radius: 10px;
}

/* collaborate */
.collaborate-featurebox{
    background-color: #fff5ae;
}

.collaborate-featurebox button{
    background-color: #febe3f;
}
.collaborate-featurebox button:hover{
    background-color: #f5b025;
}

/* library */
.library-featurebox{
    background-color: #00aec7;
}
.library-featurebox button{
    background-color: #1171ad;
}
.library-featurebox button:hover{
    background-color: #0b5f94;
}

/* goals */
.goals-featurebox{
    background-color: rgb(148, 223, 223);
}
.goals-featurebox button{
    background-color: rgb(93, 205, 205);
}
.goals-featurebox button:hover{
    background-color: rgb(77, 196, 196);
}

/**/
/* user review */
.user-review{
    width: 100%;
    height: auto;
    background-color: rgb(195, 220, 255);
    text-align: center;
    box-sizing: border-box;
}
.user-review-box{
    width: 100%;
    max-width: 40%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
}
.comment{
    display: flex;
    align-items: flex-start;
    align-content: center;
    margin-bottom: 20px;
}
.comment img{
    margin-right: 20px;
}
.review{
    flex: 1;
}
.user-review-text{
    padding: 20px;
    font-size: 35px;
    margin-top: 3rem;
}
.user-review-box .review{
    width: 40%;
    height: auto;
    padding: 10px 20px;
    font-size:18px;
    background-color: white;
    border-radius: 20px;
    text-align: left;
    margin-bottom: 40px;
}
.user-review-box span{
    display: block;
    text-align: right;
    font-size: 18px;
}

/*sign up for free acct */
.signup-account{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 40px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.join-bigbrains{
    width: 60%;
    text-align: left;
    margin: 10px 5px;
}
.join-bigbrains h2{
    font-size: 35px;
}
.join-bigbrains p{
    font-size: 22px;
}

.join-bigbrains-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
}
.join-bigbrains-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    width: 40%;
    font-size: 180%;
    padding-left: 10px;
    padding-right: 20px;
} 
.join-bigbrains-column img{
    width: 40%;
    max-width: 100%;
    height: auto;
    margin: 10px;
}
#join-signup{
    width: 40%;
    padding: 20px 10px;
    font-size: 27px;
    text-align: center;
    align-self: center;
    background-color: rgb(80, 126, 207);
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
#join-signup:hover{
    width: 40%;
    padding: 20px 10px;
    font-size: 27px;
    text-align: center;
    align-self: center;
    background-color: rgb(51, 92, 162);
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}  

/* premium acct */
.bigbrainsplus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(13, 0, 59);
    color: white;
    margin-bottom: 0px;
    padding: 30px;
}
 .intro-bigbrainsplus{
    color: rgb(255, 196, 19);
    padding: 40px 0;
 }
 .intro-bigbrainsplus h2{
    font-size: 40px;
 }
 .intro-bigbrainsplus h3{
    font-size: 32px;
 }
 .plus-feature{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-content: center;
    max-width: 500px;
 }
 .plus-feature svg{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 10px;
 }
 .plus-feature-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 30px;
 }
 .plus-feature-text h3{
    font-size: 26px;
 }
.bigbrainsplus button{
    padding: 15px 30px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    background-color: rgb(255, 196, 19);
    color: rgb(13, 0, 59);
    border: none;
    border-radius: 20px;
    margin: 20px 0;
}
.bigbrainsplus button:hover{
    padding: 15px 30px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    background-color: rgb(236, 180, 13);
    color: rgb(13, 0, 59);
    border: none;
    border-radius: 20px;
    margin: 20px 0;
}

/* footer */
footer{
    width: 100%;
    max-width: 100%;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    padding:  30px 50px;
    font-family: arial,sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
.footer-logo{
    font-size: 25px;
}
.social-media-icons{
    margin-top: 10px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 20px 0;
}
.footer-links li{
    margin-top: 3px;
}
.footer-links li:hover{
    margin-top: 3px;
    color: rgb(107, 141, 255);
    cursor: pointer;
}
.copyright{
    margin-top: 20px;
}

/* ===== LIBRARY ===== */

/* search section */
.search{
    position: relative;
    background-image: url('images/library-bookcase.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.search::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    filter: blur(2px);
}
.overlay-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
}
.overlay-content h2,.overlay-content p{
    font-size: 30px;
    color: white;
    margin: 10px 0;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 600px;
    margin: 60px auto 0 auto;
    border: 2px solid rgb(150,150,150);
    border-radius: 30px;
    background: white;
    z-index: 3;
}
.search-bar input{
    flex:1;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.search-bar button{
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* my-library section */
.my-library{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 70%;
    margin: 50px auto;
    background-color: #f4f4f4;
    border-radius: 30px;
    box-sizing: border-box;
}
.subjects h2{
    font-size: 35px;
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 20px;
    color: black;
}
.add-materials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    background-color: #a7cdef;
    max-width: 100%;
    padding: 20px 30px;
    border-radius: 20px;
    box-sizing: border-box;
}
.add-materials-container p{
    font-size: 24px;
}
.add-materials button{
    font-family: Itim, sans-serif;
    width: 50%;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    background-color: #7fa7e0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 30px;
}
.add-materials img{
    margin-right: 30px;
}

/* add-materials */
.subjects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    width: 90%;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.subjects h2{
    font-size: 35px;
}
.subjects h3{
    font-size: 30px;
    font-weight: lighter;
    margin-top: 0;
}
.subjects article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.subjects button{
    font-family: Itim, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    margin: 10px auto;
    padding: 20px 20px;
    box-sizing: border-box;
}
.subject-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.sec-sch button{
    background-color: #00aec7;
}
.jc button{
    background-color: rgb(93, 205, 205);
}
.poly button{
    background-color: #edb84e;
}

/* ===== Big Brains Plus ===== */
.bigbrainsplus-plans{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    gap: 50px;
    margin: 20px;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.bigbrainsplus-plans .monthly-plan, .bigbrainsplus-plans .annual-plan{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 20px;
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    color:black;
}
.bigbrainsplus-plans .price{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0;
    margin-bottom: 30px;
    margin: 20px 0;
    padding: 0;
}
.bigbrainsplus-plans .annual-plan .price{
    margin-bottom: 30px;
}
.bigbrainsplus-plans .monthly-plan .price{
    margin-bottom: 50px;
}
.bigbrainsplus-plans h1{
    font-size: 40px;
    margin: 0;
}
.bigbrainsplus-plans h3{
    font-size: 28px;
    margin-bottom: 50px;
}
.bigbrainsplus-plans p{
    margin: 0;
}
.bigbrainsplus-plans button{
    font-family: Itim, sans-serif;
    font-size: 24px;
    text-align: center;
    background-color:#febe3f;
    color:black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
}
.bigbrainsplus-plans button:hover{
    font-family: Itim, sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: rgb(236, 180, 13);
    color:black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 576px){
    /* image banner */
    .image-container{
        display: none;
    }
    .image-container h2{
        display: none;
    }

    /* features */
    .feature-column{
        transform: scale(0.90);
    }
    .feature-column div{
        width: 325px;
        height: 500px;
        margin: 10px;
        margin-bottom: 40px;
    }
    .feature-column div:hover{
        display: none;
    }
    .feature-column h3{
        font-size: 24px;
    }
    .feature-column p{
        font-size: 18px;
    } 

    /* user-review */
    .user-review h2{
        padding-top: 40px;
    }
    .user-review-box{
        max-width: 95%;
    }
    .comment img{
        width: 60px;
        height: auto;
        margin-right: 10px;
    }
    .user-review-text{
        padding: 0 40px;
        font-size: 26px;
    }
    .user-review-box .review{
        font-size: 16px;
    }
    .user-review-box span{
        font-size: 16px;
    }

    /* signup for free acct */
    .join-bigbrains{
        width: 100%;
        margin: 30px 0;
    }
    .join-bigbrains h2{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .join-bigbrains p{
        font-size: 16px;
    }
    .join-bigbrains-column img{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .join-bigbrains-text{
        width: 100%;
        padding: 0 20px;
    } 
    .join-bigbrains-text h2{
        font-size: 26px;
    } 
    .join-bigbrains-text p{
        font-size: 18px;
    } 
    #join-signup{
        width: 65%;
        padding: 15px 10px;
        font-size: 20px;
    }
    #join-signup:hover{
        width: 65%;
        padding: 15px 10px;
        font-size: 20px;
    }  

    /* big brains plus */
    .intro-bigbrainsplus h2{
        text-align: center;
        font-size: 28px;
    }
    .intro-bigbrainsplus h3{
        font-size: 24px;
    }
    .bigbrainsplus button{
        font-size: 24px;
    }

    /* footer */
    footer{
        padding:  30px 30px;
    }
    .footer-links{
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin: 20px 10px;
    }
    .footer-links div{
        margin-bottom: 30px;
    }
    .footer-links h3{
        margin-left: 0;
        font-size: 18px;
    }
    .footer-links li{
        margin-top: 5px;
        font-size: 14px;
    }

    /* library */
    /* search */
    .overlay-content h2{
        font-size: 26px;
        color: white;
        margin: 10px 0;
    }
    .overlay-content p{
        font-size: 20px;
        padding: 0 20px;
    }
    .search-bar{
        width: 70%;
    }
    .search-bar input{
        font-size: 14px;
    }

    /* my library */
    .my-library{
        width: 90%;
    }
    .add-materials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px auto;
        background-color: #a7cdef;
        max-width: 100%;
        padding: 20px 30px;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .add-materials-container p{
        font-size: 20px;
    }
    .add-materials button{
        width: 100%;
        font-size: 24px;
    }
    .add-materials img{
        display: none;
    }

    /* subjects */
    .subjects{
        width: 100%;
        max-width: 100%;
    }
    .subjects h2{
        font-size: 28px;
    }
    .subjects h3{
        font-size: 22px;
    }
    .subjects article{
        width: 100%;
        margin-bottom: 40px;
    }
    .subjects button{
        font-size: 16px;
        width: 40%;
    }
    .subject-column{
        width: 100%;
        margin: 0;
    }

    /* big brains plus */
    /* big brains plus plans */
    .bigbrainsplus-plans{
        margin: 0;
        margin-bottom: 20px;
    }
    .bigbrainsplus-plans .price{
        margin-bottom: 0;
        margin: 0;
        padding: 0;
    }
    .bigbrainsplus-plans .annual-plan .price{
        margin-bottom: 10px;
    }
    .bigbrainsplus-plans .monthly-plan .price{
        margin-bottom: 30px;
    }
    .bigbrainsplus-plans button{
        font-size: 22px;
    }
    .bigbrainsplus-plans button:hover{
        font-size: 22px;
        background-color: rgb(236, 180, 13);
    }
}